[run]
omit =
    */tests/*
    *__init__*
    */migrations/*
    #PROJECT-NAME#/utils/project_logger.py
    #PROJECT-NAME#/manage.py

[report]
omit =
    */tests/*
    *__init__*
    */migrations/*
    #PROJECT-NAME#/utils/project_logger.py
    #PROJECT-NAME#/manage.py
